# Python environment
# Variables and expressions

In [1]:
#variable a
a=[2,4,6]

In [2]:
b=a

In [3]:
a.append(8) # to insert day in the variable

In [4]:
print(b)

[2, 4, 6, 8]

# Note: Python is a dynamically typed language (variables can be bound to different values and types during program execution)

In [6]:
a=1
type(a)

int

In [8]:
a=a+0.1 #a=1.1
type(a) #function type returns the data type of the variable

float

# Python data types
1. object
3. boolean
4. integers
5. float

# Strings
Strings are immutable sequence objects

In [10]:
greet = 'hello world'
greet[1] 
#type(greet)

'e'

In [11]:
greet[0:8] #print all from 0 to 8

'hello wo'

In [12]:
greet[0:8:2] #print all from 0 to 8 but with a step=2, print every two elements, positions

'hlow'

In [13]:
greet[0::2]

'hlowrd'

In [14]:
greet[1+2]

'l'

In [15]:
greet[len(greet)-1] #len is the function that calculates the string length)

'd'

In [16]:
len(greet) #function

11

In [18]:
# print all elements from the strings
# for loop
for i in enumerate(greet[0:5]): print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [19]:
# print all elements from the strings
# for loop
for i in enumerate(greet[0:]): print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [21]:
# print all elements from the strings
# for loop
for i in enumerate(greet[2:]): print(i)

(0, 'l')
(1, 'l')
(2, 'o')
(3, ' ')
(4, 'w')
(5, 'o')
(6, 'r')
(7, 'l')
(8, 'd')

In [24]:
# print "hello wonderful world" without changing the greet variable
greet[:5] + ' wonderful' + greet[5:]

'hello wonderful world'

In [25]:
greet[:6] + 'wonderful' + greet[5:]

'hello wonderful world'

# Lists

Lists are probably the most used built-in data structures in Python

In [26]:
x=1;y=2;z=3
list1 = [x,y,z]

In [27]:
list2 = list1

In [28]:
list2[1] = 4 # replace the second element from List1 (y=2) with y=4

In [30]:
list1

[1, 4, 3]

In [31]:
list2

[1, 4, 3]

# nested structures (list inside list)

In [35]:
items = [["rice", 2.4, 8], ["flour", 1.9, 5], ["Corn", 4.7, 6]] # items is the variable
for item in items:
    print("Product: %s Price: %.2f Quantity: %i" % (item[0], item[1], item[2]))

Product: rice Price: 2.40 Quantity: 8
Product: flour Price: 1.90 Quantity: 5
Product: Corn Price: 4.70 Quantity: 6

In [41]:
# items = [["rice", 2.4, 8], ["flour", 1.9, 5], ["Corn", 4.7, 6]] # items is the variable 
# add Suggar, Price=3.2, Quantity = 10
items = [["rice", 2.4, 8], ["flour", 1.9, 5], ["Corn", 4.7, 6], ["Sugar", 3.2, 10]]

In [43]:
for item in items:
    print("Product: %s Price: %.2f Quantity: %i" % (item[0], item[1], item[2]))

Product: rice Price: 2.40 Quantity: 8
Product: flour Price: 1.90 Quantity: 5
Product: Corn Price: 4.70 Quantity: 6
Product: Sugar Price: 3.20 Quantity: 10

In [44]:
# do the above with append
items.append(["Sugar", 3.2, 10])

In [45]:
print(items)

[['rice', 2.4, 8], ['flour', 1.9, 5], ['Corn', 4.7, 6], ['Sugar', 3.2, 10], ['Sugar', 3.2, 10]]

In [46]:
for item in items:
    print("Product: %s Price: %.2f Quantity: %i" % (item[0], item[1], item[2]))

Product: rice Price: 2.40 Quantity: 8
Product: flour Price: 1.90 Quantity: 5
Product: Corn Price: 4.70 Quantity: 6
Product: Sugar Price: 3.20 Quantity: 10
Product: Sugar Price: 3.20 Quantity: 10

In [48]:
# what if we want to add extra info, like the Quality
items = [["rice", 2.4, 8, 3], ["flour", 1.9, 5, 4], ["Corn", 4.7, 6, 5]] # items is the variable
# how do I add an extra item 'Quality'
for item in items:
    print("Product: %s Price: %.2f Quantity: %i Quality: %i" % (item[0], item[1], item[2], item[3]))

Product: rice Price: 2.40 Quantity: 8 Quality: 3
Product: flour Price: 1.90 Quantity: 5 Quality: 4
Product: Corn Price: 4.70 Quantity: 6 Quality: 5

# Functions as first class objects
functions and classes are what are known as first class objects

## example, define a simple function

In [49]:
def greeting(language):   # name of the function (e.g. greeting), arguments as inputs (e.g. language)
if language == 'eng':
    return 'Hello world'
   if language == 'fr'
       return 'Bonjour le monde'
   else: 
       return 'language not supported'

SyntaxError: incomplete input (665211899.py, line 1)

In [ ]:
# function to be included inside other objects such as lists
List = [greeting('eng'), greeting('fr'), greeting('ger')]

In [50]:
# functions can be used as arguments for other functions
def callf(f):
    lang = 'eng'
    return (f(lang))

SyntaxError: incomplete input (2628965463.py, line 2)

# Note: Functions that take other functions as arguments are called higher order functions

In [51]:
# example
list1 = [1,2,3,4]
list(map(lambda x: x**3, list1))  # power 3

[1, 8, 27, 64]

In [52]:
# example
list1 = [1,2,3,4]
list(map(lambda x: x**4, list1))  # power 4

[1, 16, 81, 256]

In [54]:
list1 = [1,2,3,4]
list(filter((lambda x: x<3), list1))

[1, 2]

In [55]:
list1 = [1,2,3,4]
list(map(lambda x: x**4, list1))  # power 4
list(filter((lambda x: x<3), list1))

[1, 2]

In [56]:
list1 = [1,2,3,4]
list(map(lambda x: x**4, list1))  # power 4
list(filter((lambda x: x>3), list1))

[4]

In [57]:
words = str.split('The longest word in this sentence')
sorted(words, key=len)

['in', 'The', 'word', 'this', 'longest', 'sentence']

In [4]:
sl = ['A', 'b', 'a',  'C', 'c']
sorted(sl, key=str.lower)

['A', 'a', 'b', 'C', 'c']

# Tuples
Tuples are immutable sequences of arbitary objects.
Tuples are hashable, which means we can sort lists of them and they can be used as keys to dictionaries

In [5]:
tuple('sequence') # split the word to letters

('s', 'e', 'q', 'u', 'e', 'n', 'c', 'e')

In [6]:
l = ['one','two']
x,y = l #  x will be one and y will be two

In [7]:
x,y = y, x # x will be two and y will be one

In [11]:
# Dictionary example (the example format of a dictionary)
d = {'one': 1, 'two': 2, 'three': 3} # create our first dictionary, every seperate by commas information inside the dictionary is called key
# how to add a key == item
d['four'] = 4
d.update({'five':5, 'six':6})
d # just call the name of the dictionary and run the cell --> print the dictionary

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [12]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [13]:
'five' in d # easiest way to check if an info is included in the dictionary

True

In [14]:
'seven' in d # easiest way to check if an info is included in the dictionary

False

In [15]:
# sorting dictionaries
sorted(list(d)) # sorts keys alphabetically

['five', 'four', 'one', 'six', 'three', 'two']

In [16]:
# sorting dictionaries
sorted(list(d.values())) # sort values # a function inside another function

[1, 2, 3, 4, 5, 6]

In [17]:
[value for (key,value) in sorted(d.items())]

[5, 4, 1, 6, 3, 2]